{% include "index.html" %}
{% block start %}
<head>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
    <div style="contaier">
        <div id="message" class="alert alert-success" style="display: {% if count == none %}none{% endif %}">
            <strong>Success! </strong><label>{{count}} records found for query</label>
        </div>
<!--        <label style="background-color:#28a745 ;display: {% if count == none %}none{% endif %}">{{count}} records found for query</label>-->
        <div class="container mt-5" style="border: 5px solid;margin: auto;width: 50%;padding: 10px;margin-top: 10px;">
            <form  action="/add_query/" method="post">
                {% csrf_token %}
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                    <input type="text" class="form-control" id="exampleInput1" aria-describedby="inputHelp"
                           name="keyword" placeholder="Keyword">
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="industry" name="industry" class="form-control">
                    <option value="">Select a Industry</option>
                    {% for item in company %}
                        <option value="{{ item.id }}">{{ item.industry }}</option>
                    {% endfor %}
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="year" name="year_founded" class="form-control">
                    <option value="">Year Founded</option>
                    {% for item in company %}
                        <option value="{{ item.year_founded }}">{{ item.year_founded }}</option>
                    {% endfor %}
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="city" name="city" class="form-control">
                    <option value="">City</option>
                    {% for item in company %}
                        <option value="{{ item.city }}">{{ item.city }}</option>
                    {% endfor %}
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="state" name="state" class="form-control">
                    <option value="">State</option>
                    {% for item in company %}
                        <option value="{{ item.state }}">{{ item.state }}</option>
                    {% endfor %}
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="country" name="country" class="form-control">
                    <option value="">Country</option>
                    {% for item in company %}
                        <option value="{{ item.country }}">{{ item.country }}</option>
                    {% endfor %}3
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="from" name="total_emp" class="form-control">
                    <option value="">Employee(from)</option>
                    {% for item in company %}
                        <option value="{{ item.total_emp }}">{{ item.total_emp }}</option>
                    {% endfor %}3
                  </select>
                </div>&nbsp;
                <div class="mb-3" style="margin-left: auto;margin-right: auto;width: 50%;">
                  <select id="current_emp" name="current_emp" class="form-control">
                    <option value="">Employee(to)</option>
                    {% for item in company %}
                        <option value="{{ item.current_emp }}">{{ item.current_emp }}</option>
                    {% endfor %}3
                  </select>
                </div>&nbsp;
                <div style="margin-left: auto;margin-right: auto;width: 50%;">
                    <button type="submit" class="btn btn-primary">Query Data</button>&nbsp;
                    <button type="reset" class="btn btn">Reset</button>
                </div>
            </form>
        </div>
    </div>
<script>
var messageElement = document.getElementById('message');
setTimeout(function() {
    messageElement.style.display = 'none';
}, 10000); // Adjust the time delay as needed
</script>
{% endblock %}
